.panier__container{
    width: 95%;
    margin: auto;
    background: $color-background;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.camera{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}
.order-line{
    width: 25%;
}
.panier__title, .panier__total{
    width: 95%;
    background: $color-background;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;

    &  .title{
        width: 25%;
    }
}
.panier__total{
    & .total{
        width: 75%;
        margin: auto auto;
    }
    & .somme{
        width: 25%;
        background: white;
        border-radius: 10px;
        margin: 5px 0;
    }
}
        /*-------------formulaire-----------------*/
.form{
    width: 95%;
    margin: auto;
    background: $color-background;
    border-radius: 10px;
    padding: 10px;
    & input{
        width: 300px;
        border: none;
        border-radius: 10px;
        line-height: 25px;
    }
    &__container1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__container1 p{
        margin: 10px;
    }
    & button{
        width: 100%;
        line-height: 25px;
        padding: 10px;
    }
    &__container2{
        width: 320px;
        margin: 20px auto;
    }
}