@media screen and (max-width: 1100px){
    .banner{
        height: 400px;
        & h1{
            top: 15%;
        }
        & .button{
            top: 70%;
        }
    }

}


@media screen and (max-width: 900px){
    .banner{
        height: 300px;
        & h1{
            top: 15%;
        }
        & .button{
            top: 70%;
        }
    }
    .product{
        flex-direction: column;
        align-items: center;
        &__img{
            width: 90%;
            margin: 20px;
        }
        &__img img{
            width: 100%;
        }
        &__content{
            width: 90%;
        }
    }
}
@media screen and (max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        & .logo{
            margin-bottom: 10px;
        }
        & .button{
            font-size: 0.8em;
            padding: 4px 30px;
        }

    }
    .banner{
        margin-top: 20px;
        & img{
            position: absolute;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        & h1{
            font-size: 1.5em;
        }
    }
    .panier{
        font-size: 0.9em;
    }
    footer{
        height: auto;
        & ul{
            flex-direction: column;
            height: auto;
        }
        & li{
            margin: 3px;
        }
    }
}
