/* VARIABLES */
/* ________Couleurs____________________________________________________ */
$color-primary: #e6a21a;
$color-primary-soft: #f1e1c3;
$color-secondary: #ad5b17;
$color-tertiary: #1f3528;
$color-text: #17271e;
$color-background:  #c9c9c9;

/* ________Typo________________________________________________________ */
$typo-logo: 'Lobster', cursive;
$typo-titre: 'Antonio', sans-serif;
$typo-text: Roboto, sans-serif;

/* ________Angles arrondis_____________________________________________ */
$border-radius: 20px;

/* ________Ombres______________________________________________________ */
$box-shadow : 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
$box-shadow-survol : 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
