/* VARIABLES */
/* ________Couleurs____________________________________________________ */
$color-primary: #e6a21a;
$color-primary-soft: #f1e1c3;
$color-secondary: #ad5b17;
$color-tertiary: #1f3528;
$color-text: #17271e;
$color-background:  #c9c9c9;

/* ________Typo________________________________________________________ */
$typo-logo: 'Lobster', cursive;
$typo-titre: 'Antonio', sans-serif;
$typo-text: Roboto, sans-serif;

/* ________Angles arrondis_____________________________________________ */
$border-radius: 20px;

/* ________Ombres______________________________________________________ */
$box-shadow : 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
$box-shadow-survol : 5px 5px 10px 0px rgba(0, 0, 0, 0.3);

/*      FONDATIONS
Règles valables sur tout le site
Typo : nom, taille, couleur
Liens : pas de décoration
*/

body{
    margin: 0 auto;
    font-family: $typo-text;
    font-size: 1.3em;
    color: $color-text;
    max-width: 1700px;
}
a{
    text-decoration:none; /* pour enlever la mise en forme des liens */
    color: $color-text;
}
li{
    list-style-type: none;
}
button:hover{ /* pour enlever le contour rouge qui apparait au clic sur les boutons */
    outline-style: none;
    }
button{
    background: $color-secondary;
    border-radius: $border-radius;
    color: white;
    font-size: 1em;
    border: none;
    transition: transform 200ms;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);;

    }
button:hover{
    transform: scale(1.05);
}


/* PAGE ACCUEIL __________________________________________________________________*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    & .logo{
        font-size: 2em;
        font-family: $typo-logo;
        color: $color-tertiary;
        margin-left: 20px;
    }
    & button{
        width: 200px;
        height: 40px;
        margin-right: 20px;
    }
}

.banner{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    & h1{
        position: absolute;
        top: 30%;
        font-family: $typo-titre;
        font-size: 2.5em;
        color: white;
        z-index: 100;
        margin: 0;
        margin-left: 20px;
    }
    & button{
        width: 200px;
        height: 40px;
        margin-right: 20px;
        z-index: 100;
        position: absolute;
        top: 55%;
        margin-left: 20px;
    }
    & img{
        position: absolute;
        width: 110%;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

.range{
    & h2{
        text-align: center;
    }
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
    }
}

.card{
    background: $color-background;
    border-radius: 15px;
    width: 320px;
    height: 300px;
    margin: 10px;
    &__img{
        margin: auto;
        padding-top: 20px;
        width: 90%;
        height: 200px;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
        & img{
            width: 100%;
            border-radius: 15px 15px 0 0;
        }
    }
    &__content{
        width: 90%;
        margin: 0 auto;
    }
    &__content h3{
        font-weight: 500;
        margin: 5px 0;
    }
}

footer{
    background: $color-tertiary;
    color: white;
    height: 100px;
    & ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-weight: 300;
    }
    & li{
        margin: 0 30px;
    }
    & a{
        color: white;
    }
}

/* PAGE produit __________________________________________________________________*/

.product{
    display: flex;
    justify-content: center;
    &__img{
        width: 40%;
        margin: 20px;
    }
    &__img img{
        width: 100%;
        border-radius: 10px;
    }
    &__content{
        margin: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    & .options-disponibles{
        height: 40px;
        line-height: 30px;
        position: relative;
        cursor: pointer;
    }
    & .options-disponibles p{
        margin: 0;
        width: 200px;
        height: 40px;
        background: $color-background;
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);;
        transition: transform 200ms;
    }
    & .options-disponibles p:hover{
        transform: scale(1.05);
    }
    & .options{
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 230px;
    }
    & .option{
        background: $color-background;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        visibility: hidden;
        transform: translateY(-120px);
        transition: visibility 400ms 200ms, transform 400ms;
    }
    & .options-disponibles:hover .option{
        transform: translate(0);
        visibility: visible;
    }
    &__content button{
        width: 200px;
        height: 40px;
    }
}
/* PAGE panier __________________________________________________________________*/

.panier__container{
    width: 95%;
    margin: auto;
    background: $color-background;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.camera{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}
.order-line{
    width: 25%;
}
.panier__title, .panier__total{
    width: 95%;
    background: $color-background;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;

    &  .title{
        width: 25%;
    }
}
.panier__total{
    & .total{
        width: 75%;
        margin: auto auto;
    }
    & .somme{
        width: 25%;
        background: white;
        border-radius: 10px;
        margin: 5px 0;
    }
}
        /*-------------formulaire-----------------*/
.form{
    width: 95%;
    margin: auto;
    background: $color-background;
    border-radius: 10px;
    padding: 10px;
    & input{
        width: 300px;
        border: none;
        border-radius: 10px;
        line-height: 25px;
    }
    &__container1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__container1 p{
        margin: 10px;
    }
    & button{
        width: 100%;
        line-height: 25px;
        padding: 10px;
    }
    &__container2{
        width: 320px;
        margin: 20px auto;
    }
}